.content-wrapper {
    font-size: 0.8rem;
        line-height: 1;
}
.view h3,h4 {
    text-transform: capitalize;
    font-size: 16px;
}
.show {display: block;}
.hide {display: none;}
.error-message {color: indianred;}
.error {color: indianred;}
table.table.table-bordered th,table.table.table-bordered td{white-space: nowrap;}
.tscroll {width: 100%;overflow-x: scroll;}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    color: white;
    display: inline-block;
    text-align: center;
}
.overlay img {margin-top: 20%;}
.dz-default.dz-message {
    font-size: 20px;
}
.content-wrapper .h3, .content-wrapper h3 {
    font-size: 1rem;
}

