<?php
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
?>
<div class="alert alert-danger" role="alert" onclick="this.classList.add('hidden');">
  <strong>Oh snap! &nbsp;</strong><?= $message ?>
</div>
