<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\User $user
 */
 /*
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Users'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Groups'), ['controller' => 'Groups', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Group'), ['controller' => 'Groups', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Posts'), ['controller' => 'Posts', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Post'), ['controller' => 'Posts', 'action' => 'add']) ?></li>
    </ul>
</nav>
 */
?>

    <?= $this->Form->create($user) ?>
        <h1><?= __('Add User') ?></h1>
        <?php
            echo $this->Form->control('username',array('class'=>"form-control",));
            echo $this->Form->control('password');
            echo $this->Form->control('group_id', ['options' => $groups]);
        ?>
    <?= $this->Form->button(__('Submithjk')) ?>
    <?= $this->Form->end() ?>
