.header{
	background: #333333;
    border-bottom: 3px solid #FF6600;
	padding:1% 6%;
}
.header .logo{
	padding:0 0 0 0;
	float:left;
}
.header .rightSide{
	float:right;
	width:50%;
}
.header .rightSide ul{
	padding:0;
	margin:0;
	list-style:none;
}
.header .rightSide ul li{
	float: left;
    padding: 4px;
    position: relative;
    margin-right: 44px;
    line-height: 47px;
}
.header .rightSide ul li:first-child{
	width:45%;
	padding-top:10px;
}
.header .rightSide ul li:last-child{
	margin-right:0!important;
}
.header .rightSide ul li ul.dropdown-menu li{
	margin-right:0;
}
.header .rightSide ul li ul.dropdown-menu li a{
	color:#111;
	font-size:12px;
}
.header .rightSide ul li .search{
	border-radius:0!important;
	border:none!important;
}
.header .rightSide ul li .searchicon{
	position: absolute;
    right: 10px;
    top: 5px;
    font-size: 17px;
}
.header .rightSide ul li a{
	text-decoration:none;
	color:#fff;
	font-size:18px;
}
.header .rightSide ul li a .fa-sign-in{
	margin-right:10px;
}
.left-panel{
	float:left;
	width:25%;
	padding:1% 1% 1% 6%;
	background:#F0F0F0;
	height:100% !important;
}
.left-panel ul{
	list-style:none;
	margin:0;
	padding:0;
}
.left-panel ul li{
	padding: 15px 0px;
}
.left-panel ul li a{
	color:#656565;
	font-size:24px;
	font-family:'muli',san serif;
	font-weight:bold;
	text-decoration:none;
}
.left-panel ul li a:hover{
	color:#C0BEBE;
}
.left-panel ul li a i.fa{
	width: 30px!important;
	font-size: 25px!important;
}
.right-panel{
	float:left;
	width:75%;
	padding:1% 6% 1% 1%;
}
h1{
	font-family: 'muli',san serif;
    font-weight: bold;
    font-size: 28px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
.nav-tabs {
    border-bottom: 2px solid #ccc!important;
    border: 2px solid #ccc;
    padding-left: 15%;
    position: relative;
	min-height:60px!important;
	border-right: 0px solid #ccc;
	border-left: 0px solid #ccc;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
}
.nav-tabs>li.active{
	background: #00659D;
	color:#fff;
	font-weight:bold;
	font-family: 'muli',san serif;
	font-size: 20px;
}
.nav-tabs>li.active>a{
	color:#fff!important;
	font-size: 20px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 35px!important;
    border: 0px solid transparent!important;
    border-radius: 0px 0px 0 0!important;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background:transparent;
}
.nav-tabs .tagHeading {
    position: absolute;
    left: 0;
    font-weight: bold;
    font-family: 'muli',san serif;
    font-size: 20px;
    padding: 12px 10px 10px 10px;
}
h3{
	font-weight:bold;
	font-family: 'muli',san serif;
	font-size:20px;
}
label{
	margin-top:15px;
	font-weight:bold;
	font-family: 'muli',san serif;
}
.addMore{
	font-style:italic;
	font-weight:bold;
	font-size:14px;
	padding:10px 0;
	line-height:28px;
}
.form-control{
	border-radius:0!important;
}
.mt0{
	margin-top:0!important;
}
.mt10{
	margin-top:10px!important;
}
.sameas{
	background:#E6E6E6;
	border:1px solid #B9B9B9;
	border-radius:4px;
	padding:4px;
	font-size:10px;
	color:#A5A5A6;
	font-weight:normal;
}
.projectComplete{
	background:#FAFAFA;
	padding:10px;
	margin:10px 0;
}
.projectComplete .loading ul{
	list-style:none;
	padding:0;
	margin;0;
}
.projectComplete .loading ul li{
	float:left;
	padding:10px;
	text-align:center;
	width:33%;
}
.projectComplete .loading ul li:first-child{
	text-align:right;
}
.projectComplete .loading ul li:last-child {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #00659C;
}
.projectComplete .additionalInfo ul{
	list-style:none;
	margin:0;
	padding:0;
}
.projectComplete .additionalInfo ul li{
	float: left;
    width: 11%;
    padding: 30px 0;
}
.projectComplete .additionalInfo ul li .text{
	font-size: 11px;
    font-style: italic;
    color: #D0CCD1;
	text-align:center;
}
.projectComplete .additionalInfo ul li .text input[type="checkbox"]{
	position:relative;
	top:3px;
}
.btn-green{
	    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-green:hover{
	color:#fff;
	background-color: #449d44;
    border-color: #398439;
}
.contractor{	
	background: #F0F0F0;
    margin-bottom: 10px;
    padding: 8px 10px;
}
.contractor label{
	margin-top:0;
	margin-bottom:0;
}
.divider{
	height:2px;
	background:#ccc;
	margin:20px 0;
}
@media(max-width:767px){
	.left-panel{
		display:none;
		left:-9999px;
		width:100%;
		position:absolute;
	}
	.right-panel {
		float: none;
		width: 100%;
		padding: 0;
	}
	.header{
		padding: 1% 0%;
		min-height:106px;
	}
	.header .rightSide {
		float: right;
		width: 67%;	
	}
	.header .rightSide ul li.searchMob{
		position: absolute;
		top: 55px;
		z-index: 999;
		width: 100%;
		left: 0;
		margin-left:0;
	}
	.header .rightSide ul li{
		float: left;
		padding: 4px;
		position: relative;
		margin-right: 0;
		line-height: 47px;
		margin-left: 24px;
	}
	.nav-tabs .tagHeading{
		font-size: 10px;
		padding: 12px 0px 10px 3px;
	}
	h1 {
		font-family: 'muli',san serif;
		font-weight: bold;
		font-size: 20px;
		padding-top: 10px;
		margin-top: 0;
		margin-bottom: 10px;
		text-align: left;
	}
	.nav-tabs>li>a{
		font-size: 12px;
		line-height: 17px!important;
	}
	.nav-tabs>li.active>a {
		color: #fff!important;
		font-size: 12px;
	}
	.nav-tabs{
		min-height: 40px!important;
	}
	.projectComplete .loading ul li:last-child{
		font-size: 24px;
	}
	.projectComplete .loading ul li{
		text-align: center!important;
		display:block;
		width:100%;
		padding:0;
	}
	.projectComplete .additionalInfo ul li {
		float: left;
		width: 32%;
		padding: 0px 0;
		text-align: left;
	}
}